.container-fluid {
  position: relative;
  height: 800px;
  padding-top: 100%; /* Added padding to create space above the content */
}

.row {
  box-shadow: 0 0 20px #bebdbd;
  width: 85%;
  background-color: white;
  padding: 4rem;
  position: absolute;
  top: -2rem;
}

.row h1 {
  color: #251d1d;
  font-weight: 600;
  line-height: 34.27px;
}

img.max-width {
  max-width: 100%; /* Ensures the image doesn't exceed its container */
  max-height: 700px; /* Sets a max height for the image */
  object-fit: cover; /* Ensures the image scales properly within the constraints */
}
.photo{
  display: flex;
}
@media (max-width:1515px) {
  .lead{
    font-size: 17px !important;
  }
  
}
@media (max-width: 1062px) {
  .container-fluid{
    height: auto;
  }
  .col-12{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .row {
    padding: 2rem; /* Reduce padding on smaller screens */
    position: static;
  }

  img.max-width {
    max-height: auto; 
  }
  .lead{
    font-size: 100%;
  }
}

@media (max-width: 576px) {
  .row {
    padding: 1rem; /* Further reduce padding on extra small screens */
  }

  .row h1 {
    font-size: 100%; /* Adjust font size for smaller screens */
  }

  .lead {
    font-size: 15%; /* Adjust lead text size for better readability */
  }
  img.max-width{
    height: 500px;
    width: auto;
  }
}
