@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #fff;
  --pink-gradient: linear-gradient(93.06deg, #cc186e -2.84%, #8b1717 105.38%);
  --black: #000;
  --darkGray: #251d1d;
  --lightGray: #535151;
}

* {
    font-family: "Montserrat", sans-serif;
}
/* /animations */
@keyframes fade-in-load {
  0% {
      transform: scale(0.5);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}
@keyframes fade-in-scroll {
  from {scale: 0.8;opacity: 0;}
  15%{scale: 0.8; opacity: 0.5;}
  50%{scale: 1; opacity: 1;}
  75%{scale: 1; opacity: 1;}
  to {scale:0.8; opacity: 0;}
}
@keyframes fade-from-left {
  from{transform: translateX(-100%); opacity: 0.3;}
  to{transition: translateX(0); opacity: 1;}
}
@keyframes fade-from-right {
  from{transform: translateX(100%); opacity: 0.3;}
  to{transition: translateX(0); opacity: 1;}
}
@keyframes fade{
  from {scale: 0.7; opacity: 0;}
  to{scale: 1; opacity: 1;}
}