.services-bg{
    background-image: url(/src/assets/photos/makeup-palettes.png);
    height: 778px;
}
.services-container{
    width: 100%;
    background-color: var(--white);
    padding: 50px;
}
.services-container>div{
    width: 18%;
}
.s-des-top{
    background: var(--pink-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 5%;
}
.s-des-title{
    font-weight: 600;
    font-size: 28px;
    line-height: 34.13px;
    letter-spacing: 3%;
    color: var(--darkGray);
}
.s-des-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
    color: var(--lightGray);
}
.s-des-more{
    background: var(--pink-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.s-des-more:hover{
    cursor: pointer;
}
.s-example-photo{
    width: 100%;
}
.s-example-title{
    background: var(--pink-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: justify;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    letter-spacing: 2%;
}
.s-example-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 2%;
    text-align: justify;
}

@media (max-width:850px) {
    .services-bg{
        display: flex;
        justify-content: center;
        height: auto;
        padding: 20px;
    }
    .services-container{
        flex-direction: column !important;
        padding: 20px;
        width: 80%;
    }
    .services-container>div{
        width: 80%;
    }
    .services-des{
        align-items: center;
        width: 80% !important;
        margin-bottom: 5%;
        div{
            width: 80% !;
        } 
        .s-des-title{
            text-align: center;
        }
        .s-des-text{
            text-align: center;
        }
    }
    .s-example-photo{
        width: 80%
    }

    .services-example{
        align-items: center;
        margin-bottom: 20%;
    }
    .s-example-text{
        width: 80%;
    }

}
@media (max-width:450px){
    .s-example-photo{
        width: 90%
    }

    .s-example-text{
        width: 90%;
    }
}